@mixin fx_cube_right($namespace:emb){
  ##{$namespace} .cuberight {
    -webkit-animation-duration: .55s;
  }

  ##{$namespace} .cuberight.in {
    -webkit-transform-origin: 0% 50%;
    -webkit-animation-name: cubeRightIn;
  }

  ##{$namespace} .cuberight.out {
    -webkit-transform-origin: 100% 50%;
    -webkit-animation-name: cubeRightOut;
  }

  @-webkit-keyframes cubeRightIn {
    0% {
      -webkit-transform: rotateY(-90deg) translateZ(100%) scale(.5);
      opacity: .5;
    }
    100% {
      -webkit-transform: rotateY(0deg) translateZ(0) scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes cubeRightOut {
    0% {
      -webkit-transform: rotateY(0deg) translateX(0) scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotateY(90deg) translateZ(100%) scale(.5);
      opacity: .5;
    }
  }
}
