@mixin fx_fade($namespace:null){
  #{$namespace} .fade.in {
    -webkit-animation-name: fadeIn;
    visibility: visible;
  }

  #{$namespace} .fade.out {
    -webkit-animation-name: fadeOut;
    @include opacity(0);
    visibility: hidden;
  }

  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
