@mixin fx_slide_left($namespace:emb){
  ##{$namespace} .slideleft.in {
    -webkit-animation-name: slideLeftIn;
  }

  ##{$namespace} .slideleft.out {
    -webkit-animation-name: slideLeftOut;
  }

  @-webkit-keyframes slideLeftIn {
    0% {
      -webkit-transform: translateX(100%);
    }
    100% {
      -webkit-transform: translateX(0);
    }
  }

  @-webkit-keyframes slideLeftOut {
    0% {
      -webkit-transform: translateX(0px);
    }
    100% {
      -webkit-transform: translateX(-100%);
    }
  }
}
