@charset "UTF-8";
@import '../var';

//@descrip: 表单相关mixin

//= form input:text
@mixin input-text(){
    @if $default-platform == MB{
        #{$default-text-class}{
            border:1px solid $text-border;
            @include border-radius(3px);
            padding:3px 6px;
            background-color:$gf;
        }
        #{$default-text-class}-input{
            outline:none;
            border:none;
            width:100%;
            height:22px;
            background:none;
            -webkit-appearance:none;
            &.info{
                color:#D9D9D9;
            }
        }
    }
}

//= form
@mixin form(){
    @if $default-platform == MB {
        #{$default-form-class}{
            #{$default-text-class}{
                margin-bottom:10px;
            }
            @include input-text;
        }
    }
}
