@charset "UTF-8";
@import "../function";

//@descrip: css reset, pc or mobile

@mixin reset(){
    @if fix(pc) {
        html{background:$gf;}
        body,
        h1, h2, h3, h4, h5, h6, p, blockquote, pre,
        dl, dd,
        fieldset, form,
        input, select, textarea,
        button,
        figure {margin: 0;}
        ul, ol, menu{list-style:none;margin:0;padding:0;}
        body{font-size: 75%;line-height: 1.5;}
        blockquote, q {quotes: none;}
        blockquote:before, blockquote:after,
        q:before, q:after {content: '';}
        table {border-collapse: collapse;border-spacing: 0;}
        fieldset,a img, iframe{border:0 none;}
        address, em, i {font-style:normal;}
        abbr, acronym {font-variant:normal;}
        hr {display:block;height:1px;border:0;border-top:1px solid $gc;margin:1em 0;padding:0;}
        :active{outline:0 none;}
        input, select, button {vertical-align:middle;}
        input, select, button, textarea {font-size:100%;font-family: inherit;}
        @if fix(ie7) {
            button {*overflow:visible;}
        }
        @if fix(ff) {
            button,
            input[type=reset], input[type=button], input[type=submit], input[type=file] > input[type=button] {
                &::-moz-focus-inner{
                    border:0 none; padding:0;
                }
            }
        }
        @include placeholder;
    }@else if fix(mobile) {
        html{font-family: sans-serif;}
        *{margin: 0;padding: 0;border: 0;}
        ul, ol, menu{list-style:none;}
        body{font-size: 1em;line-height: 1.5;word-wrap: break-word;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;-webkit-touch-callout: none;}
        table {border-collapse: collapse;border-spacing: 0;}
        address, em, i {font-style:normal;}
        input, select,button{vertical-align:middle;}
        input, select,button, textarea {font-size:100%;font-family: inherit;}
        a {-webkit-tap-highlight-color: rgba(0,0,0,0);}
    }
}
